ul{
    margin:0;
    padding: 0;
    background-color:dimgrey;
    list-style-type: none;
    overflow: hidden;
}
li a{
    float:left;
    display:block;
    text-align: center;
    padding: 9px 20px;
    color: white;
    text-decoration: none;
}
li :hover{
    background-color: #4CAF50;
}
body{
    margin: 0;
    padding: 0;
}
#sidem{
    display: none;
    top:0;
    overflow: auto;
    width: 200px;
    position:fixed;
    height:100%;
    background-color:black;
}
#iu,#ip{
    display:none;
    padding: 5px;
    background-color: tomato;
    opacity: 0.4;
    border-radius: 3px;
}
#frames{
    margin: auto;
    width: 80%;
    border-bottom: 1px solid black;
    padding: 10px;
}
iframe{
    margin:0;
    padding:0;
    border:none;
    width:100%;
}